<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BANKAPP</display-name>
	<filter>
		<description>
		</description>
		<display-name>PwdFilter</display-name>
		<filter-name>PwdFilter</filter-name>
		<filter-class>CONTROLLER.PwdFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PwdFilter</filter-name>
		<url-pattern>/PwdFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PwdFilter</filter-name>
		<servlet-name>ChangePassword</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>GetLogin</display-name>
		<servlet-name>GetLogin</servlet-name>
		<servlet-class>CONTROLLER.GetLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckBalance</display-name>
		<servlet-name>CheckBalance</servlet-name>
		<servlet-class>CONTROLLER.CheckBalance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>CONTROLLER.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransferAmount</display-name>
		<servlet-name>TransferAmount</servlet-name>
		<servlet-class>CONTROLLER.TransferAmount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetStatement</display-name>
		<servlet-name>GetStatement</servlet-name>
		<servlet-class>CONTROLLER.GetStatement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransferAmountWB</display-name>
		<servlet-name>TransferAmountWB</servlet-name>
		<servlet-class>CONTROLLER.TransferAmountWB</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ApplyLoan</display-name>
		<servlet-name>ApplyLoan</servlet-name>
		<servlet-class>CONTROLLER.ApplyLoan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>CONTROLLER.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendMail</display-name>
		<servlet-name>SendMail</servlet-name>
		<servlet-class>CONTROLLER.SendMail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgetPassword</display-name>
		<servlet-name>ForgetPassword</servlet-name>
		<servlet-class>CONTROLLER.ForgetPassword</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetLogin</servlet-name>
		<url-pattern>/GetLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckBalance</servlet-name>
		<url-pattern>/CheckBalance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferAmount</servlet-name>
		<url-pattern>/TransferAmount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetStatement</servlet-name>
		<url-pattern>/GetStatement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferAmountWB</servlet-name>
		<url-pattern>/TransferAmountWB</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyLoan</servlet-name>
		<url-pattern>/ApplyLoan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendMail</servlet-name>
		<url-pattern>/SendMail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgetPassword</servlet-name>
		<url-pattern>/ForgetPassword</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>Index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
